<%- include("header") -%>


<div class="box" id="heading">
<h1> <%= listTitle %></h1>
</div>
<ul>
<div class="box">


<% newListItem.forEach(function(element){ %>
  <form action="/delete" method="post">
  <div class="item">
    <input type="checkbox" name="checkbox" value=<%=element._id%> onchange="this.form.submit()" >
    <%# every document has an id and a name and when that id gets triggered it deletes it %>
    <p><%= element.name%></p>
  </div>
    <input type="hidden" name="listName" value="<%= listTitle %>"></input>
</form>
<%})%>

<form class="item" action="/" method="post">
  <input type="text" name="newItem" placeholder="New Item" autocomplete="off">
  <button type="submit" name="list" value="<%= listTitle  %>">+</button>
</form>
</div>
<%# prin acest foor loop ia toate elementele postate si le aranjeaza intr-o lista %>

  </ul>

<%- include("footer") -%>
